


body.Home{
    background:linear-gradient(to bottom right,white  ,gray ,black);
    font-family: "Montserrat", sans-serif;




}
.h1{
    
    margin-top:100px;
    text-shadow: 6px 6px 6px rgba(0,0,0,0.5);
    font-size: 200%;
    text-align: center;
}
.Home a{      color: black;
        text-decoration: none;
    
    
    


}



.card1,.card2,.card3{
    

    
    border-radius: 20px;
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 1%;
    
    
}  
.card1{
    border: 2px solid rgba(255, 0, 0, 0.245);
    transition: transform 0.3s ease, opacity 0.3s ease;
    
    
    
}
.card1:hover {
    transform: scale(1.02);
}
.card2:hover {
    transform: scale(1.02);
}
.card3:hover {
    transform: scale(1.02);
}

.card2{
    border: 2px solid rgba(0, 0, 255, 0.245);
    transition: transform 0.3s ease, opacity 0.3s ease;
}
.card3{
    border: 2px solid rgba(0, 0, 0, 0.245);
    transition: transform 0.3s ease, opacity 0.3s ease;

}
    
    
.fordh1m{

    white-space: nowrap;
}
    
    



.cart{
    margin-top: 10%;
    gap:40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    
}
.cart img{
    width: 100%;
    max-width: 300px;
    width:fit-content;
    height: auto;
    border: 2px solid rgba(red, green, blue, alpha);
    border-radius: 10px;
    
}